<!DOCTYPE html>
<html>
  <head>
    <title>Herasufy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="bg-gray-100 h-screen px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-4xl font-bold tracking-tight text-gray-500 sm:text-6xl">Herasufy</h2>
          <p class="mt-4 text-lg leading-8 text-gray-400">A link shortening service. <i> 減らす: reduce, shorten </i> </p>
          <div class="mx-auto max-w-3xl">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
